:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html:dir(ltr),
body:dir(ltr) {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

html:dir(rtl),
body:dir(rtl) {
    font-family:
        Vazirmatn,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--backgroundPage);
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: var(--textPrimary);
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 1096px;
}

ul,
ol {
    list-style: none;
}

a {
    color: var(--textPrimary);
    text-decoration: none;
}
